.game {
  height: 500px;

  background: pink;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-field{
  width : 100%;
  max-width: 300px;
  min-height: 300px;

  text-align: center;
}
